<title>admin.allgo</title>

<!-- I N T R O D U C T I O N   B E G I N S-->
<div class="true-white-bg">
	<center>
	<br>
	<h1 class="hashtag-allgo">{{ hashtag }}.allgo</h1>
	<h2 ng-bind-html="intro | linkURL | linkUser | linkHashtag | trustHTML"></h2>
	<br>
	</center>
</div>
<!-- I N T R O D U C T I O N   E N D S-->

<br>
<br>

<!-- L O G I N  B E G I N S-->
<center>
<form class="forms admin" ng-submit="login()">
    <label>
        Email
        <input type="email" ng-model="email" name="user-email" class="width-50" />
    </label>
    <label>
        Password
        <input type="password" ng-model="password" name="user-password" class="width-50" />
    </label>
    <p>
        <button class="btn btn-blue btn-outline" type="submit">Log in</button>
    </p>
</form>
</center>
<!-- L O G I N  E N D S-->