<title>{{ hashtag }}.allgo</title>

<!-- I N T R O D U C T I O N   B E G I N S-->
<div class="true-white-bg">
	<center>
	<br>
	<h1 class="hashtag-allgo">{{ hashtag }}.allgo</h1>
	<h2 ng-bind-html="intro | linkURL | linkUser | linkHashtag | trustHTML"></h2>
	<h2 class="rules"><a href="/#/contest">Lee las bases del concurso.</a></h2>
	<br>
	</center>
</div>
<!-- I N T R O D U C T I O N   E N D S -->

<br>

<!-- C A R D   S P A W N I N G   B E G I N S -->
<center>
<div class="units-row">
	<div class="unit-centered container " masonry preserve-order >
		
		

		<div class="first card masonry-brick ">
			<center>
				<img class="logo-card" src="images/allgo.png" alt="allgo app logo"/>
			</center>
			<h3>Siempre hay allgo</h3>
			<h4>Descubre tu próximo evento</h4>
			<img class="photo" src="images/banner.jpg"/>
		</div>

		<div ng-repeat="tweet in tweets" class= "card masonry-brick">
				
				<!-- U S E R -->
				<center>
				<img class="user-photo hexagon" src="{{ tweet.user.profile_image_url }}" alt="{{ hashtag }}.allgo" data-title="{{ hashtag }}.allgo" data-caption="allgo está pasando en la ciudad"/>
				<p class="name"><strong>{{ tweet.user.name}}</strong></p>
				<p class="user"><a href="http://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a></p>
				</center>
				
				<!-- T W E E T -->
		  		<p class="tweet" ng-bind-html="tweet.text | linkURL | linkUser | linkHashtag | trustHTML"></p>
				<img class= "photo" ng-src="{{ tweet.entities.media[0].media_url }}" alt="{{ hashtag.allgo }}">
				
				<p class="rt-fav"><img src="images/fav-blue.png"><span style="color: white;">-</span><span style="
		vertical-align: sub;">{{ tweet.favorite_count }}</span><span style="color: white;">---</span><img src="images/rt-blue.png"><span style="color: white;">-</span><span style="
		vertical-align: sub;">{{ tweet. retweet_count }}</span></p>
			
		</div>

	</div>

</div>

</center>
<!-- C A R D   S P A W N I N G   E N D S -->