<div class="true-white-bg">
	<center>
	<h2>{{ hashtag }}.allgo</h2>
	<h4>{{ intro }} </h4>
	</center>
</div>

<br>

<div class="container">
	<div ng-repeat="tweet in tweets" class= "card">
		
			<center>
			<img src="{{ tweet.user.profile_image_url }}"/>
			</center>
			<p class="name">{{ tweet.name}}</p>
			<a href="http://twitter.com/{{ tweet.user.screen_name }}"><p class="user">@{{ tweet.user.screen_name }}</p></a>
	  		<p class="tweet">{{ tweet.text }}</p>
			<img ng-src="{{ tweet.entities.media[0].media_url }}">
			<p class="rt-fav"><span class="rt">x</span>{{ tweet.retweet_count }}<span class="fav">&#57394;</span>{{ tweet. favorite_count }}</p>

		
	</div>
</div>